{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" {% endif %}>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <h1 class="text-center">Profile Page</h1>
    <hr>
    <div class="text-center">
        <img src="{% static 'myapp/images/ems.png' %}" class="img-fluid img-thumbnail "
            style="height: 200px;" alt="Profile Pic">
        <h2 class="my-2">{{request.user.first_name|capfirst}}</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center my-2">Personal Details</h3>
                <dl class="row">
                    <dt class="col-sm-5">Full Name:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.get_full_name|title}}</dd>
                    <dt class="col-sm-5">Age:</dt>
                    <dd class="col-sm-7 text-muted">{{emp}} Years</dd>
                    <dt class="col-sm-5">Mobile Number:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.mobile_number}} </dd>
                    <dt class="col-sm-5">Email:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.email}}</dd>
                    <dt class="col-sm-5">Date of Birth:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.date_of_birth}}</dd>
                    <dt class="col-sm-5">Gender:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.gender}}</dd>
                </dl>
            </div>
            <div class="col-md-4 offset-2">
                <h3 class="text-center my-2">Company Details</h3>
                <dl class="row">
                    <dt class="col-sm-5">Employee Id:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.employee_id}}</dd>
                    <dt class="col-sm-5">Department:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.department}}</dd>
                    <dt class="col-sm-5">Manager Name:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.manager_name}}</dd>
                    <dt class="col-sm-5">Salary:</dt>
                    <dd class="col-sm-7 text-muted">{{request.user.emp_ctc}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="container text-center">
            <a href="{% url 'editDetail' %}" class="btn btn-info mx-3">Edit Details</a> 
            <a href="{% url 'changepass' %}" class="btn btn-danger mx-3">Change Password</a>
    </div>

</div>

{% endblock content %}